.content{
    font-family: arial, 'Times New Roman',sans-serif;
    font-size: 25px;
    color: rgb(3, 51, 99);
    padding-right: 10px;
    padding-left: 15px;
}

.background{
position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6; 
    z-index: -1;
}

h1{
    text-align: center;
}

.encaps, .abs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    background-color:rgb(3, 51, 99);
    padding: 0.2cm;
}

.encaps a, .abs a{
    color: white;
    text-decoration: none;
}

.encaps span, .abs span {
    flex: 0 0 200px ;
    text-align: center;
}

table {
  border-collapse: collapse; 
  margin: auto;
  width: 90%;             
}

th, td {
  border: 2px solid rgb(3, 51, 99);   
  padding: 10px;              
  text-align: center;      
}

th{
    background-color: rgb(199, 219, 255);
    font-weight: bold;
}

.indent{
    text-indent: 3%;
}

footer{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    color: rgb(3, 62, 121);
    text-align: right;
}

code{
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 70% ;
    overflow-x: auto;
    font-family: monospace, arial;
}

.mf, .itf{
display:flex;
flex-direction: row;
flex-wrap: nowrap;
gap: 30px; 
justify-content: center;
max-width: 80%;
    margin: 0 auto; 
align-items: flex-start;
  }

  .mf img {
    flex: 1.5;
    max-width: 100%;
    height: auto;
  }

  .mf p{
    flex: 4;
    margin: 0;
  }

